header {
  background-color: #f0fff0;
}

.navbar {
  padding: 30px 0 100px;
}
.nav-link {
  margin: 0 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.banner,
#blog {
  padding-bottom: 80px;
}

.signin {
  width: 104px;
  height: 43px;
}
.signin,
.get-started,
.buy-course,
form button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: white !important;
  background-color: #21b573;
  border-radius: 33px;
  text-align: center;
  border: 0;
  padding: 10px 30px;
  cursor: pointer;
}
.get-started {
  text-decoration: none !important;
}

.signin:hover,
.get-started:hover,
.buy-course:hover,
form button:hover {
  background-color: #0875f7;
}

.text-center,
.banner-ques,
.banner-heading,
.banner-text,
.arranged-books h3,
.arranged-books p,
.time small,
.seat small,
.card-title,
.card-text,
.review-text,
footer p,
.link-course,
.link-terms,
.link-useful,
.copyright {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.banner-ques {
  color: #fd511a;
}
.banner-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}
.banner-text {
  font-weight: 300;
  line-height: 36px;
  color: #6c6b6b;
  padding: 20px 0 25px;
}
.green-clr {
  color: #21b573;
}

#books {
  padding: 60px 0 90px;
}

.arranged-books {
  width: 270px;
  height: 270px;
  background: #f8fffb;
  border-radius: 10px;
}
.arranged-books:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.arranged-books h3,
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #413960;
  padding-top: 25px;
}
.arranged-books p,
.card-text,
.time small,
.seat small {
  color: #585859;
}
.time small,
.seat small {
  font-weight: 500;
}

#courses {
  padding: 20px 0 120px;
}
.card {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.card-img-top {
  border-radius: 11px;
  padding: 20px 20px 0;
}

.card-title {
  color: #413960;
}
.card-text {
  padding-bottom: 10px;
}
.card-footer {
  border-radius: 18px !important;
  background-color: white;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
}

.container-review {
  width: 755px;
  margin: 0 auto;
}
.rounded-circle {
  width: 120px;
  height: 120px;
}
.review-text,
footer p,
.link-course,
.link-terms,
.link-useful,
.copyright {
  line-height: 30px;
}
.link-course li:first-child,
.link-terms li:first-child,
.link-useful li:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

footer {
  background: #282531;
}

footer p,
.link-course,
.link-terms,
.link-useful,
.copyright {
  list-style-type: none;
  color: white;
  padding: 70px 0;
}
.copyright {
  padding-bottom: 15px;
}

footer .container {
  margin-bottom: 0;
}

#others {
  background-color: #f0fff0;
  padding: 80px 0;
}
form input,
form textarea {
  width: 500px;
  border-radius: 18px;
  padding: 12px 20px;
  border: 0;
}
form button {
  width: 200px;
  margin: 30px 150px;
  border: 0;
}

.text-center {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 55px;
}
